In [2]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
# CSV dosyasının yolu
df = pd.read_csv("data/kanal_verileri.csv")

df.head()

,title,description,customUrl,country,viewCount,subscriberCount,videoCount,publishedAt
0,freeCodeCamp.org,Learn to code for free.,@freecodecamp,US,859507965,10700000,1848,2014-12-16T21:18:48Z
1,Alex The Analyst,My name is Alex Freberg and on this channel I ...,@alextheanalyst,US,49270050,1050000,360,2020-01-08T05:04:24.970712Z
2,AssemblyAI,"Welcome to the AssemblyAI YouTube channel, whe...",@assemblyai,US,14392035,166000,362,2020-08-31T18:36:35.725854Z
3,Python Simplified,Hi everyone! My name is Mariya and I'm a softw...,@pythonsimplified,CA,11405274,256000,193,2019-01-25T00:48:09Z
4,StatQuest with Josh Starmer,"Statistics, Machine Learning and Data Science ...",@statquest,US,78758088,1400000,291,2011-05-24T01:52:48Z

Ranking Channels by Subscriber Count

In [5]:
df_sorted_subscribers = df.sort_values(by='subscriberCount', ascending=False)
df_sorted_subscribers[['title', 'subscriberCount']].head()

                         title  subscriberCount
0             freeCodeCamp.org         10700000
4  StatQuest with Josh Starmer          1400000
1             Alex The Analyst          1050000
3            Python Simplified           256000
2                   AssemblyAI           166000

Channels with the Most Views

In [6]:
df_sorted_views = df.sort_values(by='viewCount', ascending=False)
df_sorted_views[['title', 'viewCount']].head(10)

                         title  viewCount
0             freeCodeCamp.org  859507965
4  StatQuest with Josh Starmer   78758088
1             Alex The Analyst   49270050
2                   AssemblyAI   14392035
3            Python Simplified   11405274

Ranking Channels by Number of Videos

In [7]:
df_sorted_videos = df.sort_values(by='videoCount', ascending=False)
df_sorted_videos[['title', 'videoCount']].head()

                         title  videoCount
0             freeCodeCamp.org        1848
2                   AssemblyAI         362
1             Alex The Analyst         360
4  StatQuest with Josh Starmer         291
3            Python Simplified         193

Channel Distribution by Country

In [8]:
df_country_distribution = df['country'].value_counts()
df_country_distribution

country
US    4
CA    1
Name: count, dtype: int64

Correlation Between Subscriber Count and View Count

In [9]:
correlation = df[['subscriberCount', 'viewCount']].corr()
correlation

                 subscriberCount  viewCount
subscriberCount         1.000000   0.999001
viewCount               0.999001   1.000000

Average Subscriber Count by Country

In [10]:
df_country_avg_subscribers = df.groupby('country')['subscriberCount'].mean().sort_values(ascending=False)
df_country_avg_subscribers

country
US    3329000.0
CA     256000.0
Name: subscriberCount, dtype: float64

Average View Count by Number of Videos

In [11]:
df_grouped = df.groupby('title').agg(
    total_views=('viewCount', 'sum'),
    total_videos=('videoCount', 'sum')
).reset_index()

# Ortalama görüntülenme sayısını hesaplama
df_grouped['avg_views_per_video'] = df_grouped['total_views'] / df_grouped['total_videos']

# Sonuçları yazdırma
df_grouped[['title', 'avg_views_per_video']]
print(df_grouped)

                         title  total_views  total_videos  avg_views_per_video
0             Alex The Analyst     49270050           360        136861.250000
1                   AssemblyAI     14392035           362         39757.002762
2            Python Simplified     11405274           193         59094.683938
3  StatQuest with Josh Starmer     78758088           291        270646.350515
4             freeCodeCamp.org    859507965          1848        465101.712662